.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* boydan ortalar */
  }

table {
    width: 1000px;
    border-collapse: collapse;
    border-radius: 2em;
}

table td {
    padding: 20px;
    text-align: center;
}


tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.2);
}


table thead{ 
    background: rgb(242,120,173);
    background: linear-gradient(90deg, rgba(242,120,173,1) 0%, rgba(79,156,224,1) 100%);
}

td:nth-child(1){
    background: rgb(250,172,219);
    background: linear-gradient(90deg, rgba(250,172,219,1) 0%, rgba(247,154,203,0.38988095238095233) 99%, rgba(242,120,173,1) 100%);
}



table td {
    background-color: rgba(255, 255, 255, 0.2);
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color:#fff;
  }


  table td:hover {
    background-color: rgba(255, 255, 255, 0.655);
    cursor: pointer;
    transition-duration:0.4s;
}