header{
    margin: 20px;
}

#nav1{
    margin-left: 22%;
}
#home, #blog, #contact{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
}
#home:hover {
    color: #F78501;
    cursor: pointer;
    transition-duration:0.4s;
}
#blog:hover {
    color: #F78501;
    cursor: pointer;
    transition-duration:0.4s;
}
#contact:hover {
    color: #F78501;
    cursor: pointer;
    transition-duration:0.4s;
}

#logIn_signUp{
    margin-left: 26%;
}
#logIn, #signUp{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.1%;
}
.btn-sign-up{
    color: white;
    background: rgb(255,204,112);
    background: linear-gradient(90deg, rgba(255,204,112,1) 0%, rgba(255,160,50,1) 55%, rgba(247,133,1,1) 100%);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#logIn:hover {
    color: #F78501;
    cursor: pointer;
    transition-duration:0.4s;
}
.btn-sign-up:hover {
    color: white;
    background: rgb(255, 205, 112);
    background: linear-gradient(90deg, rgb(248, 205, 124) 0%, rgba(255,204,112,1) 55%, rgba(255,204,112,1) 100%);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.aciklama{
    margin-top: 5%;
}
#blog2{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#stars{
    width: 24.25px;
    height: 26.25px;
}
.blog-text-withStar{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.baslik{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(65, 64, 64);
    display: flex;
    justify-content: center;
}

.aciklama-text{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(111, 108, 108);
    display: flex;
    justify-content: center;
    margin-left: 18%;
    margin-right: 18%;
}

.container{
    display: flex;
    justify-content: center;
}
table {
    border-radius: 2em;
    border-color: rgba(103, 101, 101, 0.37);
}
#option-table{
    width: 55%;
    
}
#option{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
}
tr{
    display: flex;
    justify-content: center;
}
#option:hover {
    color: #F78501;
    cursor: pointer;
    transition-duration:0.4s;
}